table {
    border: 4px solid black;
}

td.odd {
    border-left: 2px solid black;
}

td.even {
    border-right: 2px solid black;
}

td.vacant {
    background-color: aqua;
}

td.occupied {
    background-color: indianred;
}

a[data-parent="#accordion"] {
    width: 100%;
}