{% extends 'admin_base.html' %}

{% block content %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
    <script>
        $(document).ready(function () {
            $('input.timepicker').timepicker({
                timeFormat: 'HH:mm',
                interval: 15,
                dynamic: false,
                dropdown: true,
                scrollbar: true
            });
        });
    </script>

    <h2>Route #{{ route.id }}</h2>

    <table class="table existing-route-nodes">
        <thead>
        <tr>
            <th>Station</th>
            <th>Arrival</th>
            <th>Departure</th>
            <th>Duration</th>
        </tr>
        </thead>
        <tbody>
        {% for node in nodes %}
            <tr id="row-routenode-{{ node.id }}">
                <td>{{ node.station.name }}</td>
                <td class="cell-arrival"
                    data-value="{{ node.arrival|time:"H:i" }}">{{ node.arrival|time:"H:i" }}</td>
                <td class="cell-departure"
                    data-value="{{ node.departure|time:"H:i" }}">{{ node.departure|time:"H:i" }}</td>
                <td>{{ node.duration }}</td>
                <td><a href="{% url 'update_node' route.id node.id %}">edit</a></td>
                <td><a href="{% url 'delete_node' route.id node.id %}">delete</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <form method="post">
        <div class="col-6">
            {% csrf_token %}
            {% include 'form_snippet.html' %}
            <input type="submit" value="Save route node">
        </div>
    </form>

{% endblock %}