<ul class="list-inline">
    <li class="list-inline-item">
        <span>Administrating</span>
    </li>
    <li class="list-inline-item">
        <a href="{% url 'manage_routes' %}">
            Routes
        </a>
    </li>
    <li class="list-inline-item">
        <a href="{% url 'manage_trips' %}">
            Trips
        </a>
    </li>
    <li class="list-inline-item">
        <a href="{% url 'trip_report' 1%}">
            Report
        </a>
    </li>
{#    <li>#}
{#        <a href="{% url %}">#}
{##}
{#        </a>#}
{#    </li>#}

</ul>