{% extends 'admin_base.html' %}

{% block content %}
    {% block local_script %}
    <script>

        function setCompleted(trip_id){
            var url = 'update_trip/'
            $.post(url+trip_id,
                {
                    id:trip_id,
                    completed:true,
                },'json')
                .done(function(response){
                    $('#row-trip-'+trip_id).remove();
                    alert('Trip set completed.');
                })
        }

        function setCancelled(trip_id){
            $.post({id:trip_id})
                .done(function(response){
                    alert('done');
                })
        }
    </script>
{% endblock %}
<form class="form">
    {{ filter_form.as_ul  }}
    <input type="submit">
</form>

<table class="table">
    <thead>
        <th>Route</th>
        <th>Departure</th>
        <th>Arrival</th>
    </thead>
    <tbody>
    {% for trip in object_list %}
        <tr id="row-trip-{{ trip.id }}">
            <td>{{ trip.route }}</td>
            <td>{{ trip.date_departure }}</td>
            <td>{{ trip.date_arrival }}</td>
            <td><button class="btn btn-outline-success"
                        role="button"
                        {% if trip.completed %} disabled="disabled" {% endif %}
                        onclick="setCompleted({{ trip.id }});">complete</button></td>
            <td><button class="btn btn-outline-danger"
                        role="button"
                        onclick="setCancelled({{ trip.id }});">cancel</button></td>
            <td><a href="{% url 'trip_report' trip.id %}">Report</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<a class="btn btn-primary"
   href="{% url 'add_trip'%}">
    Add another
</a>

{% endblock %}