{% extends 'admin_base.html' %}
{% block content %}
<table class="table">
    <thead>
        <th>#</th>
        <th>Description</th>
    </thead>
    <tbody>
    {% for route in routes %}
        <tr>
            <td>{{ route.id }}</td>
            <td>
                <div>
                    <p>
                    {{ route.description }}
                    </p>

                </div>
            </td>
            <td>
                <button type="button"
                        class="btn btn-info"
                        data-toggle="collapse"
                        data-target="#routenodes{{ route.id }}"
                        aria-expanded="false" aria-controls="routenodes{{ route.id }}"
                >
                    Stations
                </button>
                <div class="collapse" id="routenodes{{ route.id }}">
                    <ul >
                        {% for rn in route.routenode_set.reverse %}
                        <li>{{ rn }}</li>
                        {% endfor %}
                    </ul>
                </div>

            </td>
            <td><a href="edit_route/{{ route.id }}">edit route</a></td>
            <td><a href="delete_route/{{ route.id }}">delete route</a></td>

            <td><a href="{% url 'add_trip' route.id %}">create trip</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<form method="post">
    {% csrf_token %}
{#    <label>ID</label>#}
{#    <input name="id">#}
    <label>Desc</label>
    <input name="description">
    <input type="submit" value="yeah">
</form>
{% endblock %}