{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tickets Purchase service</title>
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'tickets/css/main.css' %}">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          crossorigin="anonymous">
    <script src="{% static 'csrf.js' %}"></script>
    {% block statics %}
    {% endblock %}
</head>
<body>
{% block heading %}
    <h2> Welcome to Orgalorg</h2>
{% endblock %}
{% block nav %}
{% endblock %}
{#    <div id="container" class="container">#}
<div class="container">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>