{% extends 'base.html' %}
{% load widget_tweaks %}

{% block statics %}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script>
        $(document).ready(function(){
            $('input#id_date').datepicker();
        })
    </script>
{% endblock %}
{% block content %}
    <div>
        <div>
            <form class="form-inline">
                {% include "form_snippet.html" %}
                <button class="btn">Submit</button>
            </form>
        </div>
        <div>
            <table class="table">
                <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Desc
                    </th>
                    <th>
                        Departure:
                    </th>
                    <th>
                        Arrival:
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for result in object_list %}
                    <tr>
                        <td>
                            {{ result.route.id }}
                        </td>
                        <td>
                            {{ result.route.description }}
                        </td>
                        <td>
                            {{ result.d_time|date:"Y/m/d H:i" }}
                        </td>
                        <td>
                            {{ result.a_time|date:"Y/m/d H:i" }}
                        </td>
                        <td>
                            <a href="{% url 'select_seat' result.id %}?from={{ request.GET.from_where }}&to={{ request.GET.to_where }}">Select
                                seat</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}