{% extends 'base.html' %}
{% load static %}

{% block statics %}
    <link rel="stylesheet" href="{% static 'tickets/css/select_seat.css' %}">
{% endblock %}

{% block content %}
    <div>
        <h2>Route # {{ trip.route.id }} {{ trip.route.routenode_set.last }} - {{ trip.route.routenode_set.first }}</h2>
    </div>
    <div>
        <span> <b>From:</b></span>
        <span>{{ station_from.name }}</span>
        <span><b>To:</b></span>
        <span>{{ station_to.name }}</span>
    </div>
    <div class="list-group" id="accordion" role="tablist">
        {% for car_num, car_info in available_seats.items %}
            {% include "tickets/wagon_widget.html" %}
        {% endfor %}
    </div>
{% endblock %}