{% extends 'base.html' %}

{% block content %}
    <div>
        <div>
            <label>Train: </label>
            <span>{{ ticket.trip.route }}</span>
        </div>
        <div>
            <label>Departure: </label>
            <span>{{ ticket.boarding_station }}</span>
        </div>
        <div>
            <label>Arrival: </label>
            <span>{{ ticket.destination_station }}</span>
        </div>
        <div>
            <label>Departure time: </label>
            <span>{{ ticket.date_departure }}</span>
        </div>
        <div>
            <label>Arrival time: </label>
            <span>{{ ticket.date_arrival }}</span>
        </div>

        <div>
            <label>Cost: </label>
            <span>$</span><span>{{ ticket.cost }}</span>
        </div>

    </div>
    <div class="form-group">
        <form method="post">
            {% csrf_token %}
            <ul>
                {{ form.as_p }}
            </ul>
            {{ form.errors }}
            <input type="submit">
        </form>
    </div>
{% endblock %}