<form action="" method="post">{% csrf_token %}
    <p>Are you sure you want to delete "{{ object }}"?</p>
{#    <p>Are you sure you want to delete ?</p>#}
    <input type="submit" value="Confirm" />
</form>