{% extends 'admin_base.html' %}
{% load static %}

{% block statics %}
    <link rel="stylesheet" type="text/css" href="{% static 'tickets/css/admin_report.css' %}">
{% endblock %}

{% block content %}
<div>
    <h3>Trip id: {{ trip.id }}</h3>
    <h4>Route: {{ trip.route_id }}</h4>
    <h4>Date: {{ trip.date_departure }}</h4>


    <table class="table table-sm" border="2px">
        <thead>
            <tr>
                <th>Seat</th>
                {% for j in trip.route.routenode_set.reverse %}
                    <th>{{ j }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for i in tickets %}
                <tr>
                    <td>
                        {{ i.car }}:{{ i.seat }}
                    </td>
                    {% for j in trip.route.routenode_set.reverse %}
                        {% if j == i.boarding_station %}
                            <td><div class="occupied" style="margin-left: 50%;">S</div></td>
{#                        {% endif %}#}
                        {% elif j == i.destination_station %}
                            <td><div class="occupied" style="margin-right: 50%;">F</div></td>
                        {% elif i.boarding_station.duration < j.duration and j.duration < i.destination_station.duration %}
                            <td><div class="occupied">O</div></td>
                        {% else %}
                            <td></td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}