<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>

    <div>
        <div>
            <form name="search_form" id="search_form" method="get">
                <label for="input_from">
                    From:
                </label>
                <select name="from">
                    <option value=""></option>
                    {% for station in stations %}
                        <option value="{{ station.id }}"
                            {% if params.from == station.id %} selected {% endif %}>
                            {{ station.name }}
                        </option>
                    {% endfor %}
                </select>
                <label for="input_to">
                    To:
                </label>
                <select name="to">
                    <option value=""></option>
                    {% for station in stations %}
                        <option value="{{ station.id }}">
                            {{ station.name }}
                        </option>
                    {% endfor %}
                </select>
                <label for="input_date">
                    Date:
                </label>
                <input name="date" id="input_date" type="date">
                <input type="submit">
            </form>
        </div>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            From:
                        </th>
                        <th>
                            To:
                        </th>
                        <th>
                            Departure:
                        </th>
                        <th>
                            Arrival:
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for result in object_list %}
                    <tr>
                        <td>
                            {{ result.id }}
                        </td>
                        <td>
                            {{ result.route.description }}
                        </td>
                        <td>
                            {{ result.to }}
                        </td>
                        <td>
                            {{ result.departure }}
                        </td>
                        <td>
                            {{ result.arrival }}
                        </td>
                        <td>
                        <a href="select_seat/{{ result.id }}">Select seat</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


</body>
</html>