<div class="list-group-item list-group-item-action" data-toggle="list" role="tab">
    <div class="">
        <a data-toggle="collapse"
           data-target="#form-div-{{ car_num }}"
           data-parent="#accordion"
           aria-expanded="false" aria-controls="form-div-{{ car_num }}"
           role="button"
           class="btn">
            Car: {{ car_num }}
        </a>
    </div>
    <div class="collapse" id="form-div-{{ car_num }}">
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="car" value="{{ car_num }}">
            <input type="hidden" name="boarding_station" value="{{ request.GET.from }}">
            <input type="hidden" name="destination_station" value="{{ request.GET.to }}">
            <input type="hidden" name="trip" value="{{ trip.id }}">

            <input type="hidden" name="car_type" value="{{ car_info.type }}">

            <table class="table wagon">
                <tbody>
                {% for row in car_info.seats %}
                    {% if forloop.counter > 2 %}
                        <tr>
                            <td colspan="18"></td>
                        </tr>
                    {% endif %}
                    <tr>
                        {% for seat in row %}
                            <td class="{% cycle 'odd' 'even' %} {% if seat.available %} vacant {% else %} occupied {% endif %}">
                                <label><input type="radio"
                                              id="seat{{ seat.num }}"
                                              name="seat"
                                        {% if not seat.available %}
                                              disabled="disabled"
                                        {% endif %}
                                              value="{{ seat.num }}">{{ seat.num }}</label>
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <button class="btn btn-default">Next</button>
        </form>
    </div>
</div>